
/* bold font */
.bold-font1{ font-size: 1.5em; font-weight: bolder; }
.bold-font2{ font-size: 1.4em; font-weight: bolder; }
.bold-font3{ font-size: 1.3em; font-weight: bolder; }
.bold-font4{ font-size: 1.2em; font-weight: bolder; }
.bold-font5{ font-size: 1.1em; font-weight: bolder; }

/* normal big font */
.big-font1{ font-size: 1.5em; }
.big-font2{ font-size: 1.4em; }
.big-font3{ font-size: 1.3em; }
.big-font4{ font-size: 1.2em; }
.big-font5{ font-size: 1.1em; }


/* title-font */
.title-font{ font-size: 1.2em; font-weight: bolder; position: relative; margin-left: 10px; }
.title-font:before{ position: absolute; content: ''; width: 5px; height: 19px; background-color: deepskyblue; left: -10px; }

/* color font */
.grey{ color: grey }
.orange{ color: orangered; }

/* very big font */
.vb-font1{ font-size: 1.9em; font-weight: bolder }
.vb-font2{ font-size: 1.8em; font-weight: bolder }
.vb-font3{ font-size: 1.7em; font-weight: bolder }

/* border dbdbdb */
.border-db{ border: 1px solid #dbdbdb; padding: 15px; margin-bottom: 10px; }