
/* bold font */
.bold-font1{ font-size: 1.5em; font-weight: bolder; }
.bold-font2{ font-size: 1.4em; font-weight: bolder; }
.bold-font3{ font-size: 1.3em; font-weight: bolder; }
.bold-font4{ font-size: 1.2em; font-weight: bolder; }
.bold-font5{ font-size: 1.1em; font-weight: bolder; }

/* normal big font */
.big-font1{ font-size: 1.5em; }
.big-font2{ font-size: 1.4em; }
.big-font3{ font-size: 1.3em; }
.big-font4{ font-size: 1.2em; }
.big-font5{ font-size: 1.1em; }


/* normal small font */
.s-font1{ font-size: 0.9em; }
.s-font2{ font-size: 0.8em; }
.s-font3{ font-size: 0.7em; }
.s-font4{ font-size: 0.6em; }
.s-font5{ font-size: 0.5em; }

/* title-font */
.title-font{ font-size: 1.2em; font-weight: bolder; position: relative; margin-left: 10px; }
.title-font:before{ position: absolute; content: ''; width: 5px; height: 19px; background-color: deepskyblue; left: -10px; }

.title-font2{ font-size: 1.1em; font-weight: bolder; position: relative; margin-left: 10px; }
.title-font2:before{ position: absolute; content: ''; width: 5px; height: 19px; background-color: deepskyblue; left: -10px; }

/* color font */
.grey{ color: grey }
.dgrey{ color: dimgrey }
.orange{ color: orangered; }
.skyblue{ color: skyblue }

/* very big font */
.vb-font1{ font-size: 1.9em; font-weight: bolder }
.vb-font2{ font-size: 1.8em; font-weight: bolder }
.vb-font3{ font-size: 1.7em; font-weight: bolder }

/* border dbdbdb */
.border-db{ border: 1px solid #dbdbdb; padding: 15px; margin-bottom: 10px; }
.border-og{ border: 1px solid orangered; padding: 15px; margin-bottom: 10px; }

/* margin  */
.mb10{ margin-bottom: 10px; }
.mb20{ margin-bottom: 20px; }
.mb30{ margin-bottom: 30px; }
.mt10{ margin-top: 10px; }
.mt20{ margin-top: 20px; }
.mt30{ margin-top: 30px; }
.mr10{ margin-right: 10px; }
.mr20{ margin-right: 20px; }
.mr30{ margin-right: 30px; }
.ml10{ margin-left: 10px; }
.ml20{ margin-left: 20px; }
.ml30{ margin-left: 30px; }
.ml18{ margin-left: 18px; }

/* padding */
.pb10{ padding-bottom: 10px; }
.pb20{ padding-bottom: 20px; }
.pb30{ padding-bottom: 30px; }
.pt10{ padding-top: 10px; }
.pt20{ padding-top: 20px; }
.pt30{ padding-top: 30px; }
.pr10{ padding-right: 10px; }
.pr20{ padding-right: 20px; }
.pr30{ padding-right: 30px; }
.pl10{ padding-left: 10px; }
.pl20{ padding-left: 20px; }
.pl30{ padding-left: 30px; }

/* flex */
.fjs{ display: flex; justify-content: space-between; }
.fcjs{ display: flex; flex-direction: column; justify-content: space-between; }
.fjf{ display: flex; justify-content: flex-end }
.fjc{ display: flex; justify-content: center; }

/* background-circle */
.bc{ background-color: #dbdbdb; border-radius: 50%; padding: 10px }

/* align-item center */
.ac{ align-items: center }