.main-container{ width: 100%; }
.header-img{ width: 100%; background-image: url("../img/background_image.jpg"); height: 800px; }
.header-container{ position: relative; width: 100%; max-width: 1000px; margin: 0 auto; }
.header-small{ position: absolute; display: flex; top: 100px; width: 50%; justify-content: space-between; max-width: 50%; background-color: #080640; padding: 10px; align-items: center }
.header-small-first{ color: white; margin-right: 10px; align-items: center; font-weight: bolder; font-size: 1.2em; margin-left: 10px;  }
.header-small-icons{ display: flex; justify-content: space-between; color: white; align-items: center; }
.header-small-icons div{ display:flex; flex-direction: column; text-align: center; margin-right: 30px; }


.main-wrap{ width: 100%; max-width: 1000px; margin: 0 auto; border: 1px solid red; }

.first-content{ position: relative; align-items: center; margin-top: 20px;  }
.first-content-box{  background-color: white; opacity: 0.8; width: 50%; position: absolute; top: -76px; padding: 10px; box-shadow: 2px 2px 20px grey  }
.first-content-box div{ margin-bottom: 10px; }
.first-content-icons{ display: flex; justify-content: flex-end; }
.first-content-icons div{ margin-left: 30px;  }
.fcb1{ display: flex; justify-content: space-between; }

.second-content{ display: flex; justify-content: space-between; margin-top: 30px; }
.second-left{ display: flex; flex-direction: column; }
.second-right{ display: flex; flex-direction: column; justify-content: space-between }

.right-item1{ width: 100%; display: flex; justify-content: space-between; height: 40%; }
.right-item1 img{ width: 49%; height: 100%; }
.right-item2{ width: 100%; display: flex; justify-content: space-between; height: 58%; }
.right-item2 img{ width: 49%; height: 70%; }


.left-item1{ margin-bottom: 20px; height: 40% }
.left-item1 span{ color: skyblue; }
.left-item1 p{ margin-bottom: 20px; position: relative; font-weight: bolder; }
.left-item1 p:after{ position: absolute; content: ''; width: 100%; height: 1px; left: 1px; top: 25px; background-color: #dbdbdb; }
.left-item1:first-child{ margin-bottom: 30px; }

.left-item2{ height: 49%; margin-top: 10px; }


.item2-first{ display: flex; justify-content: flex-start; margin-bottom: 20px }
.item2-tag{ display: flex; justify-content: flex-start; }
.item2-tag p{ margin-bottom: 20px; margin-left: 25px; }
.item2-tag p:first-child{ margin-left: 0; }


.little-content-left{ display: flex; justify-content: flex-start }
.little-content-right{ display: flex; justify-content: flex-end; align-items: center; margin-top: 20px; }
.little-content-right p{ text-align: center; line-height: 15px; margin-left: 15px; }
.little-content-right p:nth-child(2){ margin-left: 7px; }

.area{ display: flex; justify-content: space-around; margin-top: 25px; position: relative }
.area:after{ content: ''; position: absolute; background-color: grey; width: 100%; height: 2px; top: 28px; }

.third-content{ width: 100%; display: flex; justify-content: space-between; margin-top: 20px; }
.third-first{ display: flex; flex-direction: column;width: 40%; }
.third-first p{ margin-bottom: 10px }
.third-first button{ margin-top: 10px; }

.grandma{ position: relative }
.grandma:after{ position: absolute; content: ''; background-image: url("../img/middle-img.jpg"); box-shadow: 2px 2px 20px grey; width: 350px; height: 220px; left: 267px; top: -80px; }

.third-second{ display: flex; justify-content: flex-end; }
.third-second > div{ width: 100%; }
.ts-bottom{ display: flex; justify-content: space-between; width: 100%; }
.ts-bottom div{ width: 39%; align-items: center; text-align: center; }

.middle-little{ display: flex; justify-content: space-between; background: #e7e7e7 }
.ml-first{ display: flex; justify-content: space-between; }
.ml-first p{ margin-right: 10px; font-weight: bolder }