.main-container{ width: 100%; }
.header-img{ width: 100%; background-image: url("../img/background_image.jpg"); height: 800px; }
.header-container{ position: relative; width: 100%; max-width: 1000px; margin: 0 auto; }
.header-small{ position: absolute; display: flex; top: 100px; width: 50%; justify-content: space-between; max-width: 50%; background-color: #080640; padding: 10px; align-items: center }
.header-small-first{ color: white; margin-right: 10px; align-items: center; font-weight: bolder; font-size: 1.2em; margin-left: 10px;  }
.header-small-icons{ display: flex; justify-content: space-between; color: white; align-items: center; }
.header-small-icons div{ display:flex; flex-direction: column; text-align: center; margin-right: 30px; }


.main-wrap{ width: 100%; max-width: 1000px; margin: 0 auto; border: 1px solid red; }

.first-content{ border: 1px solid black; position: relative; align-items: center;  }
.first-content-box{  background-color: white; opacity: 0.8; width: 50%; position: absolute; top: -76px; padding: 20px; box-shadow: 2px 2px 20px grey  }
.first-content-icons{ display: flex; justify-content: flex-end; }
.first-content-icons div{ margin-left: 30px;  }
.fcb1{ display: flex; justify-content: space-between; }

.second-content{ display: flex; justify-content: space-between; margin-top: 30px; border: 1px solid blue; }
.second-left{ display: flex; flex-direction: column; }

.left-item1{ margin-bottom: 20px; }
.left-item1 span{ color: skyblue; }
.left-item1 p{ margin-bottom: 15px; position: relative; }
.left-item1 p:after{ position: absolute; content: ''; width: 100%; height: 1px; left: 1px; top: 24px; background-color: #dbdbdb; }


.item2-first{ display: flex; justify-content: flex-start; }
.item2-tag{ display: flex; justify-content: flex-start; }
.item2-tag p{ margin-bottom: 20px; margin-left: 25px; }
.item2-tag p:first-child{ margin-left: 0; }
